:root {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text);
  background: var(--bg);

  /* Background image — use from /public if possible */
  background-image: url("../public/images/bg.png");

  background-size: cover;        /* stretch nicely to any monitor */
  background-position: center;   /* centered on wide/ultra-wide */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* optional: parallax feel */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
